html {
  overflow: auto !important;
}

.rightSide {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

.leftSide {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.showUser {
  width: 100%;
  height: 100%;
  position: relative;
}

.no-padding {
  padding: 0px !important;
}

.showUser-title {
  font-size: 1.2em !important;
  margin: 0 auto !important;
}

.list__tile--active {
  background-color: #eeeeee;
}

.messageCard {
  padding: 10px !important;
}

div.footer-filler {
  height: 100px;
  width: 100%;
}

div.conversation {
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 202px);
}

.height-auto {
  height: auto !important;
}

.message-card {
  position: relative;
  z-index: 50;
}

.application li > a {
  color: #444;
}

div.progress-spinner {
  padding-top: 100px;
}
