html {
  overflow: auto !important;
}

.rightSide {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

.leftSide {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.showUser {
  width: 100%;
  height: 100%;
  position: relative;
}

.no-padding {
  padding: 0px !important;
}

.showUser-title {
  font-size: 1.2em !important;
  margin: 0 auto !important;
}

.list__tile--active {
  background-color: #eeeeee;
}

.messageCard {
  padding: 10px !important;
}

div.footer-filler {
  height: 100px;
  width: 100%;
}

div.conversation {
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 202px);
}

.height-auto {
  height: auto !important;
}

.message-card {
  position: relative;
  z-index: 50;
}

.application li > a {
  color: #444;
}

div.progress-spinner {
  padding-top: 100px;
}

.hidden {
  display: none;
}

.navigation-drawer {
  z-index: 0 !important;
}
.search-list {
  position: absolute;
  max-width: 500px;
  min-width: 128px;
  width: 400px;
  color: #333;
}
.search-user {
  list-style-type: none;
  background-color: #f3f3f3;
  height: 40px;
  min-width: 280px;
  color: #333;
  border-bottom: 1px solid silver;
}

.landing_text {
   font-size: 16pt;
 }

.landing_title {
 font-size: 24pt;
 color: white;
}

.search-user-email {
  line-height: 3em;
  padding-left: 10px;
}

.search-user-self {
  font-size: .8em;
  font-weight: bold;
}
