.rightSide {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

.leftSide {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
